@import 'defaults';

.login-password-form {
  h4 {
    margin: 0 0 30px 0;
  }

  .btn-password {
    color: $color-password-toggle-text;
    background-color: $color-password-toggle-bg;
  }

  .btn-password:focus {
    outline-color: $color-password-toggle-focus;
  }

  button.btn:not(:first-child) {
    margin-left: 5px;
  }
}
